a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.add-button {
  margin: 1rem 0;
}

.admin-menu ul {
  display: inline;
}

.admin-menu ul li {
  list-style: none;
}

.about {
  min-height: 400px;
}

.about h4 {
  margin-top: 4rem;
}

.add-category {
  min-height: 400px;
}

.custom-file-label {
  margin: 1rem 15px;
}

.errors {
  margin: 1rem 0;
}

